@charset "UTF-8"


body {
    background-color: rgb(98, 0, 143);
    
}
h1 {
    color: rgb(0, 255, 234);
}
h2 {
   color: blueviolet;
}

#começo {
    text-align: center;
}

.basico {
    color: lightsalmon;
}