@charset "UTF-8";

*
body {
    background-color: rgb(48, 48, 48);
    font-family: Cutive Mono', monospace;
    font-size: 15px;
    margin: auto;
}
h1 {
    color: mintcream;
}
p {color: cyan;}

main {
   background-color: powderblue;
   border-radius: 10px;
   box-shadow: 5px 5px 15px #400036;
   width: 600px;
   padding: 10px;
   margin: auto;
   font-family: 'Cutive Mono', monospace;
}

